<!DOCTYPE html>
<html>
<head lang="en">
<meta charset="UTF-8">
<meta name="viewport"
	content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width" />
<title>[PoC] KT Shop 핫딜 이벤트</title>
<link href="/static/css/main.css" rel="stylesheet" />
</head>
<body>
	<br>
	<div class="box-container">
		<div class="card-header">
		  <span class="buttonWhite button2">
			  <a href="index.html">화요일 핫딜</a>
		  </span>
		  <span class="buttonBlue button2" >
			  <a href="javascript:void(0)">목요일 핫딜</a>

		  </span>
    </div>
	</div>
	<br>
	<div class="box-container">

		<div class="card">
			<div class="event-image" align="center">
			  <img id="id-event-image" src="images/hotdeals_이벤트.png" style="max-width: 100%; height: auto;" alt="hotdeal">
			</div>
			<div class="container" align="center">

				<!-- Trigger/Open The Modal -->
				<button class="result-ok result-ok-hide" id="myBtn">응모하기</button>

				<!-- 응모가 완료된 경우  -->
				<div class="result-ok result-ok-show" id="id-event-message">
					<p>이벤트 준비중입니다. 잠시 후 이용해 주헤요!!</p>
				</div>

				<!--
				<div class="result-ok result-ok-hide" id="id-result-fail">
					<p>응모가 실패했습니다.</p>
				</div>

				<div class="result-ok result-ok-hide" id="id-event-wait">
					<p>이벤트 응모대기중 입니다.</p>
				</div>

				<div class="result-ok result-ok-hide" id="id-event-close">
					<p id="id-event-message">선착순 이벤트가 종료했습니다.</p>
				</div>
				-->

				<!-- The Modal -->
				<div id="myModal" class="modal">

					<!-- Modal content -->
					<div class="modal-content">
						<span class="close">&times;</span>
						<p><h2>사용자 정보입력</h2></p>

						<table>
							<form class=""  target = "ifrm" id="myForm" >
								<tr>
									<td><label for="eventId">이벤트회차</label></td>
									<td><input id="id-event-id" type="text" name="eventId" value='2020012800' readOnly  /></td>
								</tr>
								<tr>
									<td><label for="name">이름</label></td>
									<td><input type="text" name="name" /></td>
								</tr>
								<tr>
									<td><label for="phoneNo">핸드폰번호</label></td>
									<td><input type="text" name="phoneNo" /></td>
								</tr>
								<tr>
									<td><label for="agreement">동의여부</label></td>
									<td><input type="checkbox" name="agreement" /></td>
								</tr>
								<tr>
									<td></td>
									<td><input type="submit" name="submit" /></td>
								</tr>

							</form>
							<iframe name='ifrm' width='0' height='0' frameborder='0'></iframe>
						</table>
					</div>

				</div>
			</div>
		</div>

	</div>

	<script src="/static/js/event.js"></script>
</body>
</html>
