body {
    margin: auto;
    padding: 0;
    font-size: 15px;
}

.box-container {
  display: flex;
  justify-content: center;
}

nav {
    background-color: #333;
    margin: 0;
    overflow: hidden;
    align: center;
    width: auto;
}

nav ul{
    margin: 0;
    padding: 0;
}

nav ul li {
    /* This allow us to arrange list items in a row, without using float */
    display: inline-block;
    list-style-type: none;
}

/* Create a style for the first level items */
nav > ul > li > a {
    color: #aaa;
    /*background-color:#FF0;*/
    display: block;
    line-height: 2em;
    padding: 0.5em 0.5em;
    text-decoration: none;
}


/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  background-color: #EFEFFB;
  margin: auto;
  padding: 10px;
  border: 1px solid #888;
  width: 35%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 45%;
  margin: auto;
}

.card-header {
  width: 40%;
  display: flex;
  justify-content: center;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
  padding: 2px 16px;
}

.event-image {
	max-width: 90%;
	
	
	padding-left: 35px;
	/* padding-right: 35px;*/
	 	margin: 20px 20px 2px 20px;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 24px;
  margin: 14px 2px;
  cursor: pointer;
}

.result-ok {
  background-color: #4CAF50; /* Green */
  border: 1px;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 14px 2px;
  cursor: pointer;
}

.result-ok-hide {
  display:none;
}

.result-ok-show {
  display:inline-block;
}

.buttonBlue {
  background-color: #2EFEF7; /* Green */
  border: 1;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 50%;
}

.buttonWhite {
  background-color: #E0F8F7; /* Green */
  border: 1;
  color: white;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 50%;
}

.button2 {border-radius: 4px;}
